body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background-color: white;
    align-items: flex-start;
}

.cajaEncabezado {
    background-color: #0F1c30;
    margin-bottom: 0;
    padding: 2px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid darkblue;
    border-bottom: 2px rgb(41, 33, 155);
    height: 250px;
}

#integrantes {
    font-size: 17px;
    line-height: 1.5;
}

.menu {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

nav {
    padding: 15px 0;
    border-bottom: 2px rgb(41, 33, 155);
    background-color: #304A6E;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: circle;
    list-style-position: inside;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover {
    color: gray;
}

#layout {
    color: black;
}

.contenedor2 {
    margin-top: 0;
    padding: 1.25rem 1.8rem;
    width: 80%;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.6rem rgba(0, 0, 0, 0.1);
    max-width: 75rem;
    display: flex;
    gap: 2.5rem;
    align-items: flex-start;
}

.ladoizquierdo {
    flex: 0 0 auto;
    max-width: 60%;
    padding: 1.25rem;
    border-radius: 0.6rem;
    text-align: justify;
    line-height: 1.5;
    background-color: lightgray;
}

.contenedorderecho {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 0 1 auto; 
    max-width: 54%; 
    box-sizing: border-box; 
}

.ladoderecho {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    padding: 1.25rem;
    background-color: lightgray;
    border-radius: 0.6rem;
}

.contenedorderecho img {
    gap: 2px;
    height: 250px;
    width: 400px;
}

.ladoderecho2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: flex-start;
    padding: 1.25rem;
    background-color: lightgray;
    border-radius: 0.6rem;
}

.ladoderecho2 img {
    gap: 2px;
    height: 300px;
    width: 500px;
}

#layoutexto {
    margin-left: 5%;
    line-height: 1.5;
    font-size: 120%;
}

#subtitulos {
    margin-left: 5%;
}

.contenedor3 {
  width: 90%; 
  margin: 0; 
  padding: 20px; 
  margin-left: 3%;
  background-color: lightgray; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;
  border-radius: 0.6rem;
}
.contenedor3 img {
  max-width: 70%; 
  height: 50%;
  border-radius: 10px;
}